$toolbar-height: 56px;
$exercise-header-height: 75px;
$offset-top: $toolbar-height + $exercise-header-height + 16px;

.rounds {
  display: flex;
  justify-content: space-around;
  background: #efefef;
  padding: 6px;

  .round {
    border-radius: 25px;
    padding: 4px 10px;
    &.selected {
      background: white;
    }
  }
}

.exercise-content,
.rest-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - #{$offset-top});
}

.rest-content ion-card-subtitle {
  margin-bottom: 15px;
}

.exercise-image {
  text-align: center;

  img {
    width: 30vh;
  }
}

.recommended-reps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ion-fab {
    position: relative;
  }
}
