<h4>Exercise {{exercise.name}} - {{exercise.rounds}} Rounds</h4>
<div class="rounds">
  <span class="round" *ngFor="let round of rounds" [ngClass]="{'selected':round === currentRound}">{{round}}</span>
</div>

<img [src]="exercise.image" [alt]="exercise.name">

<div *ngIf="exerciseStatus === ExerciseStatus.EXERCISE">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Recommended reps
      </ion-card-subtitle>

      <ion-card-title>
        <div *ngIf="exercise.reps < 0">
          MAX possible
        </div>

        <div *ngIf="exercise.reps > -1">
          {{exercise.reps}}
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab horizontal="end">
    <ion-fab-button (click)="triggerExerciseFinished()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div *ngIf="exerciseStatus === ExerciseStatus.REST">
  <workout-countdown [time]="exercise.rest" (done)="triggerRestFinished()"></workout-countdown>
</div>