<ion-list>
  <ion-item [routerLink]="'home'">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-item>

  <ion-list-header>Dev</ion-list-header>
  <ion-item (click)="deleteConfig()">
    <ion-icon name="alert"></ion-icon>
    <ion-label>Delete config</ion-label>
  </ion-item>

  <ion-list-header class="ion-margin-top">Account</ion-list-header>
  <ion-item (click)="logout()">
    <ion-icon name="exit"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-list>