<ion-app>
  <ion-menu contentId="content" side="start" type="push">
    <ion-header>
      <ion-toolbar class="ion-margin-vertical">
        <ion-title class="ion-text-center">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <img src="assets/icon/favicon.png" alt="">
              </ion-col>
              <ion-col>
                <span>{{appName}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-menu></app-menu>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>