.mood-card {
  ion-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ion-button {
      font-size: 40px;
      height: 50px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

      &.selected {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
}

.workout-done {
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-button[expand='block'] {
    margin: 0 10px 10px;
  }
}

.workout-results {
  flex: 1;
  overflow: scroll;

  ion-item:last-child {
    --inner-border-width: 0;
  }

  ion-label {
    display: flex;
    justify-content: space-around;

    span {
      background: #f7f7f7;
      padding: 10px;
      border: solid 1px #ddd;
      flex: 1;
      margin: 0 5px;
      text-align: center;
    }
  }
}
